n8n-workflows/lead-notification.json
{
  "name": "lead-notification",
  "nodes": [
    {
      "parameters": { "path": "new-lead", "options": {} },
      "id": "webhook-lead",
      "name": "Webhook Nuevo Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "new-lead"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst score = lead.score || lead.scoring_result || 0;\nconst emoji = score >= 80 ? '🔥🔥' : score >= 70 ? '🔥' : '🔔';\nreturn [{ json: { message: emoji + ' <b>Nuevo lead</b>\\n\\n👤 ' + (lead.name||'Sin nombre') + '\\n📧 ' + (lead.email||'-') + '\\n📱 ' + (lead.phone||'-') + '\\n💰 €' + (lead.budget_max||'-') + '\\n📌 ' + (lead.source||'-') + '\\n📊 Score: ' + score + '%' + (score > 70 ? '\\n⚡ CONTACTAR YA' : '') } }];"
      },
      "id": "format-message",
      "name": "Formatear mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "credentials",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "telegram-send",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "{ \"ok\": true }" },
      "id": "respond",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Nuevo Lead": { "main": [[{ "node": "Formatear mensaje", "type": "main", "index": 0 }]] },
    "Formatear mensaje": { "main": [[{ "node": "Enviar Telegram", "type": "main", "index": 0 }]] },
    "Enviar Telegram": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["360group", "leads"]
}
