n8n-workflows/new-lead-notification.json
{
  "name": "new-lead-notification",
  "nodes": [
    {
      "parameters": { "path": "lead-score-notify", "options": {}, "httpMethod": "POST" },
      "id": "wh-score",
      "name": "Webhook Lead Score",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{ $json.score || $json.scoring_result || 0 }}", "operation": "larger", "value2": 70 }]
        }
      },
      "id": "check-score",
      "name": "¿Score > 70?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "credentials",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🔥 <b>LEAD CALIENTE URGENTE</b>\\n\\n👤 {{ $json.name || 'Sin nombre' }}\\n📧 {{ $json.email || '-' }}\\n📱 {{ $json.phone || '-' }}\\n📊 Score: {{ $json.score || $json.scoring_result }}%\\n💰 €{{ $json.budget_max || '-' }}\\n📌 Fuente: {{ $json.source || '-' }}\\n\\n⚡ <b>CONTACTAR INMEDIATAMENTE</b>",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "tg-hot",
      "name": "Telegram URGENTE",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "authentication": "credentials",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🔔 Nuevo lead: {{ $json.name || 'Sin nombre' }} | Score: {{ $json.score || $json.scoring_result || 0 }}% | {{ $json.source || '-' }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "tg-normal",
      "name": "Telegram normal",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "{ \"ok\": true }" },
      "id": "respond-score",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Lead Score": { "main": [[{ "node": "¿Score > 70?", "type": "main", "index": 0 }]] },
    "¿Score > 70?": {
      "main": [
        [{ "node": "Telegram URGENTE", "type": "main", "index": 0 }],
        [{ "node": "Telegram normal", "type": "main", "index": 0 }]
      ]
    },
    "Telegram URGENTE": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] },
    "Telegram normal": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["360group", "leads", "notifications"]
}
