n8n-workflows/telegram-calendar-sync.json
{
  "name": "telegram-calendar-sync",
  "nodes": [
    {
      "parameters": { "updates": ["message"], "additionalFields": {} },
      "id": "tg-cal-trigger",
      "name": "Telegram Trigger Calendario",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst text = msg?.text || '';\nconst chatId = msg?.chat?.id;\nif (!text.startsWith('/visita')) return [{ json: { skip: true } }];\nconst parts = text.slice('/visita'.length).trim().split(' ');\nconst fechaStr = parts[0] || '';\nconst hora = parts[1] || '10:00';\nconst nombre = parts.slice(2).join(' ') || 'Lead';\nlet dateFrom;\ntry {\n  const [day, month, year] = fechaStr.includes('/') ? fechaStr.split('/') : fechaStr.split('-');\n  dateFrom = new Date(`${year || new Date().getFullYear()}-${(month||'01').padStart(2,'0')}-${(day||'01').padStart(2,'0')}T${hora}:00`);\n  if (isNaN(dateFrom.getTime())) dateFrom = new Date();\n} catch { dateFrom = new Date(); }\nconst dateTo = new Date(dateFrom.getTime() + 60 * 60 * 1000);\nreturn [{ json: { chatId, nombre, dateFrom: dateFrom.toISOString(), dateTo: dateTo.toISOString(), notes: 'Visita con ' + nombre } }];"
      },
      "id": "parse-visita",
      "name": "Parsear comando /visita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/agent_availability",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ date_from: $json.dateFrom, date_to: $json.dateTo, notes: $json.notes, status: 'visit', source: 'telegram' }) }}"
      },
      "id": "insert-cal",
      "name": "Insertar en agent_availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Parsear comando /visita').first().json.chatId }}",
        "text": "=📅 Visita agendada: {{ $('Parsear comando /visita').first().json.notes }}"
      },
      "id": "tg-cal-confirm",
      "name": "Confirmar visita",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Telegram Trigger Calendario": { "main": [[{ "node": "Parsear comando /visita", "type": "main", "index": 0 }]] },
    "Parsear comando /visita": { "main": [[{ "node": "Insertar en agent_availability", "type": "main", "index": 0 }]] },
    "Insertar en agent_availability": { "main": [[{ "node": "Confirmar visita", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["360group", "telegram", "calendar"]
}
