n8n-workflows/telegram-property-publisher.json
{
  "name": "telegram-property-publisher",
  "nodes": [
    {
      "parameters": { "updates": ["message"], "additionalFields": {} },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst photo = msg.message?.photo;\nif (!photo) return [{ json: { skip: true } }];\nconst caption = msg.message?.caption || '';\nconst parts = caption.split('|').map(s => s.trim());\nif (parts.length < 4) return [{ json: { skip: true, reason: 'bad format' } }];\nconst [title, price, zona, hab, banos, m2, tipo] = parts;\nreturn [{ json: {\n  title: title || 'Nueva propiedad',\n  price: parseFloat(price?.replace(/[^\\d.]/g,'') || '0'),\n  location: zona,\n  bedrooms: parseInt(hab || '0'),\n  bathrooms: parseInt(banos || '0'),\n  area_sqm: parseInt(m2 || '0'),\n  channel: tipo?.toLowerCase().includes('alquiler') ? 'alquiler' : tipo?.toLowerCase().includes('bancaria') ? 'bancaria' : 'personal',\n  is_active: true,\n  is_featured: false,\n  fileId: photo[photo.length-1].file_id,\n  chatId: msg.message.chat.id\n} }];"
      },
      "id": "parse-photo",
      "name": "Parsear foto y caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $json.fileId }}"
      },
      "id": "get-file",
      "name": "Obtener URL foto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/properties",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ title: $('Parsear foto y caption').first().json.title, price: $('Parsear foto y caption').first().json.price, location: $('Parsear foto y caption').first().json.location, bedrooms: $('Parsear foto y caption').first().json.bedrooms, bathrooms: $('Parsear foto y caption').first().json.bathrooms, area_sqm: $('Parsear foto y caption').first().json.area_sqm, channel: $('Parsear foto y caption').first().json.channel, is_active: true, main_image: 'https://api.telegram.org/file/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + $json.result.file_path }) }}"
      },
      "id": "insert-property",
      "name": "Insertar propiedad en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Parsear foto y caption').first().json.chatId }}",
        "text": "✅ Propiedad publicada en la web"
      },
      "id": "tg-confirm",
      "name": "Confirmar por Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Parsear foto y caption", "type": "main", "index": 0 }]] },
    "Parsear foto y caption": { "main": [[{ "node": "Obtener URL foto", "type": "main", "index": 0 }]] },
    "Obtener URL foto": { "main": [[{ "node": "Insertar propiedad en Supabase", "type": "main", "index": 0 }]] },
    "Insertar propiedad en Supabase": { "main": [[{ "node": "Confirmar por Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["360group", "telegram", "properties"]
}
