n8n-workflows/whatsapp-qualification.json
{
  "name": "whatsapp-qualification",
  "nodes": [
    {
      "parameters": { "path": "whatsapp-qualify", "options": {}, "httpMethod": "POST" },
      "id": "wh-wapp",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst msg = body.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\nif (!msg || msg.type !== 'text') return [{ json: { skip: true } }];\nreturn [{ json: { from: msg.from, text: msg.text?.body || '', messageId: msg.id } }];"
      },
      "id": "extract-msg",
      "name": "Extraer mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            { "role": "system", "content": "Eres el asistente de GROUP 360 INICIATIVAS. Califica este mensaje de WhatsApp: ¿busca comprar, alquilar o invertir? ¿cuál es su presupuesto estimado? Responde en JSON: { intent, budget, score (0-100), summary }" },
            { "role": "user", "content": "={{ $json.text }}" }
          ]
        },
        "options": { "maxTokens": 200 }
      },
      "id": "openai-qualify",
      "name": "OpenAI Califica Lead",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $('Extraer mensaje').first().json.from }}" },
            { "name": "source", "value": "whatsapp" },
            { "name": "notes", "value": "={{ $json.message.content }}" }
          ]
        }
      },
      "id": "save-lead",
      "name": "Guardar Lead en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "{ \"ok\": true }" },
      "id": "respond-wapp",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook WhatsApp": { "main": [[{ "node": "Extraer mensaje", "type": "main", "index": 0 }]] },
    "Extraer mensaje": { "main": [[{ "node": "OpenAI Califica Lead", "type": "main", "index": 0 }]] },
    "OpenAI Califica Lead": { "main": [[{ "node": "Guardar Lead en Supabase", "type": "main", "index": 0 }]] },
    "Guardar Lead en Supabase": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["360group", "whatsapp"]
}
