n8n-workflows/whatsapp-ai-bot.json
{
  "name": "whatsapp-ai-bot",
  "nodes": [
    {
      "parameters": { "path": "whatsapp-bot", "options": {}, "httpMethod": "POST" },
      "id": "wh-bot",
      "name": "Webhook WhatsApp Bot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst msg = body.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\nif (!msg || msg.type !== 'text') return [{ json: { skip: true } }];\nreturn [{ json: { from: msg.from, text: msg.text?.body || '' } }];"
      },
      "id": "extract-bot-msg",
      "name": "Extraer mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/properties?is_active=eq.true&select=title,price,location,bedrooms,area_sqm,estimated_roi",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" }]
        }
      },
      "id": "get-props",
      "name": "Obtener propiedades",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 500]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            { "role": "system", "content": "=Eres el asistente virtual de GROUP 360 INICIATIVAS, agencia inmobiliaria premium en España. Profesional pero cercano. Respondes siempre en español. Máximo 3 párrafos. Propiedades disponibles:\\n{{ $('Obtener propiedades').first().json.map(p => '• ' + p.title + ' | €' + p.price + ' | ' + p.location + ' | ' + p.bedrooms + 'hab | ROI: ' + (p.estimated_roi||'-') + '%').join('\\n') }}\\n\\nEmpresa: GRUPO 360 INICIATIVAS S.L., NIF B13911979, Reus, Tarragona. Nunca inventes propiedades." },
            { "role": "user", "content": "={{ $('Extraer mensaje').first().json.text }}" }
          ]
        },
        "options": { "maxTokens": 500 }
      },
      "id": "openai-reply",
      "name": "OpenAI responde",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Extraer mensaje').first().json.from, type: 'text', text: { body: $json.message.content } }) }}"
      },
      "id": "send-wapp-reply",
      "name": "Enviar respuesta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "{ \"ok\": true }" },
      "id": "respond-bot",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook WhatsApp Bot": { "main": [[{ "node": "Extraer mensaje", "type": "main", "index": 0 }]] },
    "Extraer mensaje": {
      "main": [[
        { "node": "Obtener propiedades", "type": "main", "index": 0 },
        { "node": "OpenAI responde", "type": "main", "index": 0 }
      ]]
    },
    "OpenAI responde": { "main": [[{ "node": "Enviar respuesta WhatsApp", "type": "main", "index": 0 }]] },
    "Enviar respuesta WhatsApp": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["360group", "whatsapp", "ai"]
}
